@theme inline {
  /* --- DESIGN TOKENS --- */

  /* Color Mapping */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Typography */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
